/*===============GENERAL STYLING=============*/


*{
    box-sizing: border-box;
    font-family: Arial;
}

.header-text{
    text-align: center;
}

body{
    background-color: #3495D1;
    color: white;
}

/*===============START MODEL STYLING=============*/


.start-model-container, .end-model-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.start-model img{
    margin: 100px;
}

.start-model h1{
    font-size: 2.5rem;
}

.start-model input{
    margin: 0px 20px 30px 20px;
    padding: 8px 10px 8px 8px;
    min-width: 15vw;
    border: none;
    border-radius: 5px;
}


.start-model button{
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #00BE70;
    padding: 15px;
    color: white;
    border: none;
}

/*===============MAIN GAME STYLING=============*/


.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}


table{
    width: fit-content;
    border-spacing: 10px;
}

.score-card{
    background-color: linear-gradient();
    width: 220px;
    border-radius: 8px;
    margin: 20px;
    padding: 10px 0px 0px 10px;
    min-height: fit-content;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.score-card p{
    font-size: 2rem;
}

.playerturn{
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #00BE70;
    padding: 10px;
}

.white{
    background-color: white !important;
    color: #3495D1 !important;
}



.game-board{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 842px;
    height: 844px;
    left: 252px;
    top: 0px;
    border-radius: 8px;
    background-image: url('Assets/Game_Board.png');
    padding: 10px;
}

.card{
    width: 72px;
    height: 112px;
}

.down{
    background-image: url('Assets/Card_Back.svg') !important;
}

.hidden{
    visibility: hidden !important;
    pointer-events: none;
}


/*===============END MODEL STYLING=============*/

.end-model #h1winner{
    font-size: 3rem;
}

.end-model .flex{
    display: flex;
}

.end-model #play-again{
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: lightblue;
    padding: 15px;
    color: #00235B;
    border: none;
}

.end-card{
    height: 8vh;
    width: 20vw;
    color:#00235B;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 8px;
}

.end-card img{
    width: 100%;
    max-width: 50px;
}

.end-card-win{
    background-image: linear-gradient(to right, gold, white);
}

.end-card-loss{
    background-color: white;
}